<!DOCTYPE html>
<html>
  <head>
    <title>JOSÉ GALINDEZ</title>
    <link rel='stylesheet' href='/stylesheets/stylecv.css' />
    <style>

    </style>
    <meta property="og:title" content="Mi Curriculum">
    <meta property="og:description" content="CURRICULUM">
    <meta property="og:url" content="https://https://messi-22tp.onrender.com/views/cv.html">
  </head>
  </head>
  <body>
    <div>
      <h1>JOSÉ ENRIQUE GALINDEZ ALVAREZ</h1>
    <p>Aagua- la victoria, calle urdaneta casa numero 1 </p>
    <p>Telefono: (0412) 4395734</p>
    <fieldset>
      <legend>Datos personales</legend>
      <ul>
        <li><span>Fecha de nacimiento:</span> 03/10/2003</li>
        <li><span>Cedula de identidad:</span> V-30.016.640</li>
        <li><span>Email:</span> joseenriquegalindez03@gmail.com</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Formacion academica</legend>
      <ul>
        <li><span>Educacion basica:</span> "Colegio santa teresa"</li>
        <li><span>Bachillerato:</span> "Colegio santa teresa"</li>
        <li><span>Ingenieria en informatica:</span> Universidad Experimental de los Llanos Centrales "Romulo Gallegos" (UNERG)</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Experiencia laboral</legend>
      <ul>
        <li><span>Eléctricista:</span> Empresas UNICON</li>
        <li><span>Programador:</span> ALCARAVAN</li>
        <li><span>Mecánico:</span> Trabajo independiente </li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Habilidades y destrezas</legend>
      <ul>
        <li>Cacidad de adaptabilidad</li>
        <li>Gran compromiso</li>
        <li>Disponibilidad inmediata</li>
      </ul>
    </fieldset>
    <h2>Redes sociales</h2>
     <p><span>Facebook:</span> joseenriquegalindez03</p>
     <p><span>Instagram</span> joseenriquegalindez03</p>
    </div>
  </body>
</html>